.container-password {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  .container-password form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .return-element {
    margin: 20px auto;
  }
  .return {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    background-color: #fff;
    color: #e9064f;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .container-password h1 {
    font-size: 36px;
    text-align: center;
    color: #e9064f;
  }
  .container-password .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  .container-password .input-box input {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    outline: none;
    border-radius: 40px;
    background-color: transparent;
    padding: 20px 45px 20px 20px;
  }
  .container-password .input-box input:focus {
    border: 2px solid white;
    outline: none;
  }
  .container-password .input-box input::placeholder {
    color: #fff;
  }
  .container-password .submit {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container-password .submit button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin: 0 auto;
  }