.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    transition: transform 0.3s ease-in-out;
    
  
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    margin-bottom: 30px;
}
.sidebar-title > span {
    display: none;
}
.icon_header {
    width: 60px;
    margin: 10px;
}
.sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: start;
}
.sidebar-list {
    padding: 0;
    list-style-type: none;
}
.sidebar-items {
    padding: 20px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}
.sidebar-links {
  width: 100%;
}

.sidebar-items:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-items > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #9e9ea4;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 1em;
    gap: 5%;
}

.sidebar-brand a {
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
